{% spaceless %}

{% if data.header is defined %}
<header>
  {% include '@oe-bcl/bcl-header/header.html.twig' with data.header only %}
</header>
{% endif %}
<main>
  <div class="container">
    {% if data.banner is not empty %}
    <div class="mt-5">
      {% if data.banner.image is not empty %}
        <img
          src="{{ data.banner.image.path }}"
          {% if data.banner.image.alt is not empty %}
          alt="{{ data.banner.image.alt }}"
          {% endif %}
          {% if data.banner.image.class is not empty %}
          class="{{ data.banner.image.class }}"
          {% endif %}
        />
      {% endif %}
      {% if data.banner.title is not empty %}
        <div class="p-3-5 bg-light">
          <h2 class="mb-0 d-inline-block">{{ data.banner.title }}</h2>
          {% if data.banner.actions is not empty and data.banner.actions is iterable %}
          <div class="float-end">
            {% for _action in data.banner.actions %}
              {% if _action.type == "link" %}
                {% include '@oe-bcl/bcl-link/link.html.twig' with _action only %}
              {% elseif _action.type == "button" %}
                {% include '@oe-bcl/bcl-button/button.html.twig' with _action only %}
              {% elseif _action.type == "dropdown" %}
                {% include '@oe-bcl/bcl-dropdown/dropdown.html.twig' with _action only %}
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% endif %}
    {% include '@oe-bcl/bcl-navigation/navigation.html.twig' with data.navigation only %}
    {% if data.banner_description is not empty and data.contact is not empty %}
    <div class="row mt-4 mb-5 pb-5">
      <div class="col-8">
        <div class="ps-3">
          {% if data.banner_description.metas is not empty and data.banner_description.metas is iterable %}
          <div class="d-block">
            {% for _meta in data.banner_description.metas %}
            <p class="mb-0 me-4 d-inline-block text-muted">
              {% include '@oe-bcl/bcl-icon/icon.html.twig' with _meta.icon only %}
              {{- _meta.label -}}
            </p>
            {% endfor %}
          </div>
          {% endif %}
          {{ data.banner_description.content }}
        </div>
      </div>
      <div class="col-4">
        <h4 class="mb-3 pb-2">{{ data.contact.title }}</h4>
        {% if data.contact.profiles is not empty and data.contact.profiles is iterable %}
          {% for _profile in data.contact.profiles %}
            {% include '@oe-bcl/bcl-user-view/user-view-compact.html.twig' with _profile only %}
          {% endfor %}
        {% endif %}
        {% if data.contact.more_link is not empty %}
          {% include '@oe-bcl/bcl-link/link.html.twig' with data.contact.more_link only %}
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% if data.recent is not empty and data.members is not empty %}
    <div class="row mt-5 pt-5">
      <div class="col-8">
        <h4 class="mb-4 pb-2">{{ data.recent.title }}</h4>
        {% include '@oe-bcl/bcl-recent-activities/recent-activities.html.twig' with data.recent.block_data only %}
      </div>
      <div class="col-4">
        <h4 class="mb-4 pb-2">{{ data.members.title}}</h4>
        {% if data.members.profiles is not empty and data.members.profiles is iterable %}
          {% for _profile in data.members.profiles %}
            {% include '@oe-bcl/bcl-user-view/user-view-compact.html.twig' with _profile only %}
          {% endfor %}
        {% endif %}
        {% if data.members.more_link is not empty %}
          {% include '@oe-bcl/bcl-link/link.html.twig' with data.members.more_link only %}
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% if data.contributions is not empty %}
      <h4 class="my-4 pt-3 pb-2">{{ data.contributions.title}}</h4>
      {% if data.contributions.card_layout is not empty %}
        {% include '@oe-bcl/bcl-card-layout/card-layout.html.twig' with data.contributions.card_layout only %}
      {% endif %}
      {% if data.contributions.more_link is not empty %}
        {% include '@oe-bcl/bcl-link/link.html.twig' with data.contributions.more_link only %}
      {% endif %}
    {% endif %}
  </div>
</main>
{% if data.footer is defined %}
<footer>
  {% include '@oe-bcl/bcl-footer/footer.html.twig' with data.footer only %}
</footer>
{% endif %}

{% endspaceless %}
