{% apply spaceless %}

{#
  Parameters:
  - title (string) (default: '')
  - title_tag (string) (default: 'h2')
  - title_link: (link object) (default: {})
  - title_attributes: (drupal attrs)
  - id (int) (default: random(1000))
  - flush (boolean) (default: false)
  - items (array) (default: []): format: [
      {
        title: (string),
        title_tag: (string),
        content: (block),
        stay_open (boolean) (default: false),
        id: (string)
      },
    ]
  - open_item_id (int) (default: 0)
  - attributes (drupal attrs)
#}

{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h2') %}
{% set _title_link = title_link|default({}) %}
{% set _title_attributes = title_attributes ?: create_attribute() %}
{% set _id = id|default(random(1000)) %}
{% set _flush = flush ?? false %}
{% set _items = items|default([]) %}
{% set _open_item_id = open_item_id|default(0) %}
{% set _classes = ['accordion'] %}
{% if _flush %}
  {% set _classes = _classes|merge(['accordion-flush']) %}
{% endif %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(_classes).setAttribute('id', 'accordion-' ~ _id) %}

{% if _items is not empty %}
<div
  {{ attributes }}
>
{%- if _title is not empty -%}
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
    title: _title,
    title_tag: _title_tag,
    title_link: _title_link,
    attributes: _title_attributes,
  } only %}
{%- endif -%}

{% for _item in _items %}
  {% set _open_item = _open_item_id == loop.index %}
  {% set _button_classes = ['accordion-button'] %}
  {% if not _open_item %}
    {% set _button_classes = _button_classes|merge(['collapsed']) %}
  {% endif %}
  {% set _item_id = _item.id|default(_id ~ '-' ~ loop.index) %}
  {% set _item_id_wrapper = _item.id|default('heading-' ~ _item_id) %}
  <div class="accordion-item">
    {%- set _item_title_tag = _item.title_tag|default('h2') %}
    <{{ _item_title_tag }}
      class="accordion-header" 
      id="{{ _item_id_wrapper }}"
    >
      {% set button_attributes = create_attribute()
                                .addClass(_button_classes)
                                .setAttribute('data-bs-toggle', 'collapse')
                                .setAttribute('autocomplete', 'off')
                                .setAttribute('data-bs-target', '#collapse-' ~ _item_id)
                                .setAttribute('aria-controls', 'collapse-' ~ _item_id)
                                .setAttribute('aria-expanded', open_item ? 'true' : 'false')
      %}
      {% include '@oe-bcl/bcl-button/button.html.twig' with {
        label: _item.title,
        clean_class: true,
        attributes: button_attributes
      } only %}
    </{{ _item_title_tag }}>
    <div
      id="collapse-{{ _item_id }}"
      class="accordion-collapse collapse{{ _open_item ? ' show' }}"
      aria-labelledby="{{ _item_id_wrapper }}"
      role="region"
    {% if not _item.stay_open %}
      data-bs-parent="#accordion-{{ _id }}"
    {% endif %}
    >
      <div class="accordion-body">
        {%- set _content = _item.content|default('') %}
        {%- block content _content -%}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}

{% endapply %}
