{% spaceless %}

{#
  Parameters:
  - with_header (boolean) (default: false)
  - with_footer (boolean) (default: false)
  - with_banner (boolean) (default: false)
  - with_sidebar (boolean) (default: false)
  - sidebar_size (string) (default: 'normal')
    options: ['normal', 'large']
  - landing (boolean) (default: false)
  - content_type (string) (default: '')
  - attributes (drupal attrs)

  BLOCKS:
  - header
  - footer
  - content
  - content_row
  - sidebar
  - banner
  - feedback
  - share
  - related
  - messages_area
#}

{% set _with_header = header|default(false) %}
{% set _with_footer = footer|default(false) %}
{% set _with_banner = banner|default(false) %}
{% set _with_sidebar = sidebar|default(false) %}
{% set _sidebar_size = sidebar_size|default('normal') %}
{% set _landing = landing|default(false) %}
{% set _content_type = content_type|default('') %}
{% set _classes = ['bcl-node-type'] %}

{% set _content_rendered %}
  {% block content_top %}
    {{ content_top }}
  {% endblock %}
  {% block content %}
    {{ content }}
  {% endblock %}
  {% block content_bottom %}
    {{ content_bottom }}
  {% endblock %}
  {% block related %}
    {{ related }}
  {% endblock %}
  {% block share %}
    {{ share }}
  {% endblock %}
{% endset %}

{% if _content_type is not empty %}
  {% set _classes = _classes|merge(['bcl-' ~ _content_type]) %}
{% endif %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if _with_header %}
  {% include '@oe-bcl/bcl-header/header.html.twig' with header only %}
{% endif %}

<main {{ attributes }}>
  {% if messages is defined and messages is not empty %}
    {% block messages_area %}
      <div class="container">
        {% for message in messages %}
          {% set message_attributes = create_attribute().addClass(['mt-lg-5', 'mt-2']) %}
          {% include '@oe-bcl/bcl-alert/alert.html.twig' with message|merge({
            attributes: message_attributes,
          }) only %}
        {% endfor %}
      </div>
    {% endblock %}
  {% endif %}

  {% if _with_banner %}
    {% block banner %}
      {% include '@oe-bcl/bcl-content-banner/content-banner.html.twig' with banner only %}
    {% endblock %}
  {% endif %}

  <div class="container mt-md-4-75 mt-4">
    {% block content_row %}{% endblock %}
    {% if _with_sidebar %}
      {% set _sidebar_rendered %}{% block sidebar %}{% endblock %}{% endset %}
      <div class="row">
        {% if _sidebar_size == 'large' %}
          <div class="bcl-sidebar col-lg-4">{{ _sidebar_rendered }}</div>
          <div class="col-lg-8">{{ _content_rendered }}</div>
        {% else %}
          <div class="bcl-sidebar col-lg-3">{{ _sidebar_rendered }}</div>
          <div class="col-lg-9 col-xxl-8">{{ _content_rendered }}</div>
        {% endif %}
      </div>
    {% elseif _landing %}
      {# No wrappers needed. #}
      {{ _content_rendered }}
    {% else %}
      {#
      Constrain the content width.
      Use 'd-block' to neutralize the 'display: flex' from 'row' class.
      This allows margins from content elements to collapse with margins
      from other elements above or below.
      #}
      <div class="row d-block">
        <div class="col-12 col-lg-10 col-xl-9 col-xxl-8">
          {{ _content_rendered }}
        </div>
      </div>
    {% endif %}
  </div>
</main>

{% block feedback %}
  {{ feedback }}
{% endblock %}

{% if _with_footer %}
  {% include '@oe-bcl/bcl-footer/footer.html.twig' with footer only %}
{% endif %}

{% endspaceless %}
