{% spaceless %}

{#
  Parameters:
  - "with_wrapper" (boolean) (default: false)
  - "wrapper_classes" (string) (default: '')
  - "wrapper_aria_live" (string) (default: '')
  - "with_container" (boolean) (default: false)
  - "container_classes" (string) (default: '')
  - "toasts" (array of objects) format: [
    {
      - "body" (string) (default: '')
      - "role" (string) (default: 'alert')
      - "with_close" (boolean) (default: true)
      - "autohide" (boolean) (default: false)
      - "with_body_wrapper" (boolean) (default: false)
      - "body_wrapper_classes" (string) (default: '')
      - "extra_classes" (string) (default: '')}
    },
    ...
  ]
#}

{% set _toasts = toasts|default([]) %}
{% set _with_wrapper = with_wrapper|default(false) %}
{% set _wrapper_classes = wrapper_classes|default('') %}
{% set _wrapper_aria_live = wrapper_aria_live|default('') %}
{% set _with_container = with_container|default(false) %}
{% set _container_classes = 'toast-container' %}

{% if container_classes %}
  {% set _container_classes = _container_classes ~ ' ' ~ container_classes %}
{% endif %}

{# wrapper #}
{% if _with_wrapper %}
<div
  aria-atomic="true"
  {{- _wrapper_aria_live ? 'aria-live="' ~ _wrapper_aria_live ~ '"' -}}
  {{- _wrapper_classes ? 'class="' ~ _wrapper_classes ~ '"' -}}
>
{% endif %}
{# container #}
{% if _with_container %}
  <div class="{{ _container_classes }}">
{% endif %}
{# toasts #}
{% if _toasts is not empty %}
  {% for _toast in _toasts %}
    {% set _classes = 'toast' %}
    {% set _body = _toast.body|default('') %}
    {% set _role = _toast.role|default('') %}
    {% set _with_close = _toast.with_close ?? true %}
    {% set _aria_live = _toast.aria_live|default('') %}
    {% set _autohide = autohide ?? true %}
    {% set _with_body_wrapper = _toast.with_body_wrapper|default(false) %}
    {% set _body_wrapper_classes = _toast.body_wrapper_classes|default('') %}
    {% set _extra_classes = _toast.extra_classes|default('') %}
    {% if _extra_classes is not empty %}
      {% set _classes = classes ~ ' ' ~ _extra_classes %}
    {% endif %}
  <div
    class="{{ _classes }}"
    aria-atomic="true"
    {{- _aria_live ? 'aria-live="' ~ _aria_live ~ '"' -}}
    {{- _role ? 'role="' ~ _role ~ '"' -}}
    {{- not _autohide ? 'data-bs-autohide="false"' -}}
  >
    {% if _with_close or
      (_toast.header is defined and _toast.header is not empty)
    %}
    <div class="toast-header">
    {{- _toast.header|default('') -}}
    {% if _with_close %}
      {%- include '@oe/button/button.html.twig' with {
        type: "button",
        extra_classes: 'btn-close',
        clean_class: true,
        extra_attributes: [
          { name: "data-bs-dismiss", value: "toast" }
        ]
      } only -%}
    {% endif %}
    </div>
  {% endif %}
  {% if _with_body_wrapper %}
    <div
      {{- _body_wrapper_classes ? 'class="' ~ _body_wrapper_classes ~ '"' -}}
    >
  {% endif %}
    <div class="toast-body">
      {{- _body -}}
    </div>
  {% if _with_body_wrapper %}
    </div>
  {% endif %}
  </div>
  {% endfor %}
{% endif %}
{% if _with_container %}
  </div>
{% endif %}
{% if _with_wrapper %}
</div>
{% endif %}

{% endspaceless %}
