{% apply spaceless %}

{# Parameters:
  - size (string) (default: '')
    - options ['sm', 'lg']
  - alignment (string) (default: '')
    - options ['end', 'center']
  - aria_label (string) (default: '')
  - variant: (string) (default: '')
  - enable_prev_next_icon (boolean) (default: false)
  - enable_first_last_icon (boolean) (default: true)
  - first (object)
    format: {
      - path (string)
      - label (string)
      - disabled (boolean)
      - aria_label (string)
      - icon (Icon component)
    }
  - prev (object)
    format: {
      - path (string)
      - label (string)
      - disabled (boolean)
      - aria_label (string)
      - icon (Icon component)
    }
  - next (object)
    format: {
      - path (string)
      - label (string)
      - disabled (boolean)
      - aria_label (string)
      - icon (Icon component)
    }
  - last (object)
    format: {
      - path (string)
      - label (string)
      - disabled (boolean)
      - aria_label (string)
      - icon (Icon component)
    }
  - items (array of objects)
    format: [
    {
      - path (string)
      - label (string)
      - disabled (boolean)
      - active (boolean)
    }
  - icon_path (string) (default: '')
  - attributes (drupal attrs)
#}

{% set _size = size|default('') %}
{% set _alignment = alignment|default('') %}
{% set _aria_label = aria_label|default('') %}
{% set _variant = variant|default('') %}
{% set _enable_prev_next_icon = enable_prev_next_icon|default(false) %}
{% set _enable_first_last_icon = enable_first_last_icon ?? true %}
{% set _first = first|default({}) %}
{% set _prev = prev|default({}) %}
{% set _next = next|default({}) %}
{% set _last = last|default({}) %}
{% set _items = items|default([]) %}
{% set _icon_path = icon_path|default('') %}

{% set _classes = 'pagination' %}
{% if _size is not empty %}
  {% set _classes = _classes ~ ' pagination-' ~ _size %}
{% endif %}
{% if _variant is not empty %}
  {% set _classes = _classes ~ ' pagination--' ~ _variant %}
{% endif %}
{% if _alignment is not empty %}
  {% set _classes = _classes ~ ' justify-content-' ~ _alignment %}
{% endif %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.setAttribute('role', 'navigation') %}

{% if _aria_label is not empty %}
  {% set attributes = attributes.setAttribute('aria-label', aria_label) %}
{% endif %}
{% if _extra_classes is not empty %}
  {% set _class = _class ~ ' ' ~ _extra_classes %}
{% endif %}

<nav
  {{ attributes }}
>
  <ul class="{{ _classes }}">
  {% if _first is not empty %}
    {% set _first_class = 'page-item' %}
    {% if _first.disabled %}
      {% set _first_class = _first_class ~ ' disabled' %}
    {% endif %}
    <li class="{{ _first_class }}">
      <a
        class="page-link"
        href="{{ _first.path }}"
        {% if _first.disabled %}
        tabindex="-1"
        aria-disabled="true"
        {% endif %}
        {%- if _first.aria_label -%}
        aria-label="{{ _first.aria_label }}"
        {%- endif -%}
      >
      {%- if _enable_first_last_icon -%}
        {%- if _first.icon is not empty -%}
          {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _first.icon only -%}
        {%- else -%}
          {%- if _icon_path is not empty -%}
            {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
              name: "chevron-double-left",
              size: "fluid",
              path: _icon_path,
            } only %}
          {%- else -%}
            <span aria-hidden="true">&laquo;</span>
          {%- endif -%}
        {%- endif -%}
      {%- else -%}
        {{- _first.label -}}
      {%- endif -%}
      </a>
    </li>
  {% endif %}
  {% if _prev is not empty %}
    {% set _prev_class = 'page-item' %}
    {% if _prev.disabled %}
      {% set _prev_class = _prev_class ~ ' disabled' %}
    {% endif %}
    <li class="{{ _prev_class }}">
      <a
        class="page-link"
        href="{{ _prev.path }}"
        {% if _prev.disabled %}
        tabindex="-1"
        aria-disabled="true"
        {% endif %}
        {%- if _prev.aria_label -%}
        aria-label="{{ _prev.aria_label }}"
        {%- endif -%}
      >
      {%- if _enable_prev_next_icon -%}
        {%- if _prev.icon is not empty -%}
          {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _prev.icon only -%}
        {%- else -%}
          {%- if _icon_path is not empty -%}
            {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
              name: "chevron-left",
              size: "fluid",
              path: _icon_path,
            } only %}
          {%- else -%}
            <span aria-hidden="true">&lsaquo;</span>
          {%- endif -%}
        {%- endif -%}
      {%- else -%}
        {{- _prev.label -}}
      {%- endif -%}
      </a>
    </li>
  {% endif %}
  {% if _items is not empty and _items is iterable %}
    {% for _item in _items %}
    {% set _item_class = 'page-item' %}
    {% if _item.disabled %}
      {% set _item_class = _item_class ~ ' disabled' %}
    {% endif %}
    {% if _item.active %}
      {% set _item_class = _item_class ~ ' active' %}
    {% endif %}
    <li class="{{ _item_class }}">
      <a
        class="page-link"
        href="{{ _item.path }}"
        {% if _item.disabled %}
        tabindex="-1"
        aria-disabled="true"
        {% endif %}
        {% if _item.active %}
        aria-current="page"
        {% endif %}
      >
        {{- _item.label -}}
      </a>
    </li>
    {% endfor %}
  {% endif %}
  {% if _next is not empty %}
    {% set _next_class = 'page-item' %}
    {% if _next.disabled %}
      {% set _next_class = _next_class ~ ' disabled' %}
    {% endif %}
    <li class="{{ _next_class }}">
      <a
        class="page-link"
        href="{{ _next.path }}"
        {% if _next.disabled %}
        tabindex="-1"
        aria-disabled="true"
        {% endif %}
        {%- if _next.aria_label -%}
        aria-label="{{ _next.aria_label }}"
        {%- endif -%}
      >
      {%- if _enable_prev_next_icon -%}
        {%- if _next.icon is not empty -%}
          {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _next.icon only -%}
        {%- else -%}
          {%- if _icon_path is not empty -%}
            {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
              name: "chevron-right",
              size: "fluid",
              path: _icon_path,
            } only %}
          {%- else -%}
            <span aria-hidden="true">&rsaquo;</span>
          {%- endif -%}
        {%- endif -%}
      {%- else -%}
        {{- _next.label -}}
      {%- endif -%}
      </a>
    </li>
  {% endif %}
  {% if _last is not empty %}
    {% set _last_class = 'page-item' %}
    {% if _last.disabled %}
      {% set _last_class = _last_class ~ ' disabled' %}
    {% endif %}
    <li class="{{ _last_class }}">
      <a
        class="page-link"
        href="{{ _last.path }}"
        {% if _last.disabled %}
        tabindex="-1"
        aria-disabled="true"
        {% endif %}
        {%- if _last.aria_label -%}
        aria-label="{{ _last.aria_label }}"
        {%- endif -%}
      >
      {%- if _enable_first_last_icon -%}
        {%- if _last.icon is not empty -%}
          {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _last.icon only -%}
        {%- else -%}
          {%- if _icon_path is not empty -%}
            {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
              name: "chevron-double-right",
              size: "fluid",
              path: _icon_path,
            } only %}
          {%- else -%}
            <span aria-hidden="true">&raquo;</span>
          {%- endif -%}
        {%- endif -%}
      {%- else -%}
        {{- _last.label -}}
        {%- endif -%}
      </a>
    </li>
  {% endif %}
  </ul>
</nav>

{% endapply %}
