{% apply spaceless %}

{# Parameters:
  - size (string) (default: '')
    - options ['sm', 'lg']
  - alignment (string) (default: '')
    - options ['end', 'center']
  - aria_label (string) (default: '')
  - variant: (string) (default: '')
  - enable_prev_next_icon (boolean) (default: false)
  - enable_first_last_icon (boolean) (default: true)
  - first (object)
    format: {
      - path (string) (default: '')
      - label (string) (default: '')
      - disabled (boolean) (default: false)
      - active (boolean) (default: false)
      - aria_label (string) (default: '')
      - character_label (string) (default: '')
        ['double-arrow-left', 'arrow-left', 'arrow-right', 'double-arrow-right']
      - icon (Icon component) (default: {})
      - attributes (drupal attrs)
    }
  - prev (object)
    format: {
      - path (string) (default: '')
      - label (string) (default: '')
      - disabled (boolean) (default: false)
      - active (boolean) (default: false)
      - aria_label (string) (default: '')
      - character_label (string) (default: '')
        ['double-arrow-left', 'arrow-left', 'arrow-right', 'double-arrow-right']
      - icon (Icon component) (default: {})
      - attributes (drupal attrs)
    }
  - next (pagination Item object)
    format: {
      - path (string) (default: '')
      - label (string) (default: '')
      - disabled (boolean) (default: false)
      - active (boolean) (default: false)
      - aria_label (string) (default: '')
      - character_label (string) (default: '')
        ['double-arrow-left', 'arrow-left', 'arrow-right', 'double-arrow-right']
      - icon (Icon component) (default: {})
      - attributes (drupal attrs)
    }
  - last (object)
    format: {
      - path (string) (default: '')
      - label (string) (default: '')
      - disabled (boolean) (default: false)
      - active (boolean) (default: false)
      - aria_label (string) (default: '')
      - character_label (string) (default: '')
        ['double-arrow-left', 'arrow-left', 'arrow-right', 'double-arrow-right']
      - icon (Icon component) (default: {})
      - attributes (drupal attrs)
    }
  - items (array of objects)
    format: [
    {
      - path (string) (default: '')
      - label (string) (default: '')
      - disabled (boolean) (default: false)
      - active (boolean) (default: false)
      - aria_label (string) (default: '')
      - character_label (string) (default: '')
        ['double-arrow-left', 'arrow-left', 'arrow-right', 'double-arrow-right']
      - icon (Icon component) (default: {})
      - attributes (drupal attrs)
    }
  - icon_path (string) (default: '')
  - attributes (drupal attrs)
#}

{% set _size = size|default('') %}
{% set _alignment = alignment|default('') %}
{% set _aria_label = aria_label|default('') %}
{% set _variant = variant|default('') %}
{% set _enable_prev_next_icon = enable_prev_next_icon|default(false) %}
{% set _enable_first_last_icon = enable_first_last_icon ?? true %}
{% set _first = first|default({}) %}
{% set _prev = prev|default({}) %}
{% set _next = next|default({}) %}
{% set _last = last|default({}) %}
{% set _items = items|default([]) %}
{% set _icon_path = icon_path|default('') %}

{% set _classes = 'pagination' %}
{% if _size is not empty %}
  {% set _classes = _classes ~ ' pagination-' ~ _size %}
{% endif %}
{% if _variant is not empty %}
  {% set _classes = _classes ~ ' pagination--' ~ _variant %}
{% endif %}
{% if _alignment is not empty %}
  {% set _classes = _classes ~ ' justify-content-' ~ _alignment %}
{% endif %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.setAttribute('role', 'navigation') %}

{% if _variant == 'glossary' %}
  {% set attributes = attributes.addClass(['bcl-glossary']) %}
{% endif %}

{% if _aria_label is not empty %}
  {% set attributes = attributes.setAttribute('aria-label', aria_label) %}
{% endif %}
{% if _extra_classes is not empty %}
  {% set _class = _class ~ ' ' ~ _extra_classes %}
{% endif %}

<nav
  {{ attributes }}
>
  <ul class="{{ _classes }}">
  {% if _first is not empty %}
    {% set _first_class = 'page-item' %}
    {% if _first.disabled %}
      {% set _first_class = _first_class ~ ' disabled' %}
    {% endif %}
    <li class="{{ _first_class }}">
      {%- if _enable_first_last_icon -%}
        {%- if _first.icon is not empty -%}
          {% set _first = _first|merge({
            icon: first.icon
          }) %}
        {%- else -%}
          {%- if _icon_path is not empty -%}
            {% set _first = _first|merge({
              icon: {
                name: "chevron-double-left",
                size: "fluid",
                path: _icon_path,
              }
            }) %}
          {%- else -%}
            {% set _first = _first|merge({
              position: 'first'
            }) %}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
      {%- include '@oe-bcl/bcl-pagination/pagination-item.html.twig' with _first only -%}
    </li>
  {% endif %}
  {% if _prev is not empty %}
    {% set _prev_class = 'page-item' %}
    {% if _prev.disabled %}
      {% set _prev_class = _prev_class ~ ' disabled' %}
    {% endif %}
    <li class="{{ _prev_class }}">
    {%- if _enable_prev_next_icon -%}
      {%- if _prev.icon is not empty -%}
        {% set _prev = _prev|merge({
          icon: _prev.icon
        }) %}
      {%- else -%}
        {%- if _icon_path is not empty -%}
          {% set _prev = _prev|merge({
            icon: {
              name: "chevron-left",
              size: "fluid",
              path: _icon_path,
            }
          }) %}
        {%- else -%}
          {% set _prev = _prev|merge({
            position: 'prev'
          }) %}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
    {%- include '@oe-bcl/bcl-pagination/pagination-item.html.twig' with _prev only -%}
    </li>
  {% endif %}
  {% if _items is not empty and _items is iterable %}
    {% for _item in _items %}
    {% set _item_class = 'page-item' %}
    {% if _item.disabled %}
      {% set _item_class = _item_class ~ ' disabled' %}
    {% endif %}
    {% if _item.active %}
      {% set _item_class = _item_class ~ ' active' %}
    {% endif %}
    <li class="{{ _item_class }}">
      {% include '@oe-bcl/bcl-pagination/pagination-item.html.twig' with _item only %}
    </li>
    {% endfor %}
  {% endif %}
  {% if _next is not empty %}
    {% set _next_class = 'page-item' %}
    {% if _next.disabled %}
      {% set _next_class = _next_class ~ ' disabled' %}
    {% endif %}
    <li class="{{ _next_class }}">
      {%- if _enable_prev_next_icon -%}
        {%- if _next.icon is not empty -%}
          {% set _next = _next|merge({
            icon: _next.icon
          }) %}
        {%- else -%}
          {%- if _icon_path is not empty -%}
            {% set _next = _next|merge({
              icon: {
                name: "chevron-right",
                size: "fluid",
                path: _icon_path,
              }
            }) %}
          {%- else -%}
            {% set _next = _next|merge({
              position: 'next'
            }) %}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {%- include '@oe-bcl/bcl-pagination/pagination-item.html.twig' with _next only -%}
    </li>
  {% endif %}
  {% if _last is not empty %}
    {% set _last_class = 'page-item' %}
    {% if _last.disabled %}
      {% set _last_class = _last_class ~ ' disabled' %}
    {% endif %}
    <li class="{{ _last_class }}">
      {%- if _enable_first_last_icon -%}
        {%- if _last.icon is not empty -%}
          {% set _last = _last|merge({
            icon: _last.icon
          }) %}
        {%- else -%}
          {%- if _icon_path is not empty -%}
            {% set _last = _last|merge({
              icon: {
                name: "chevron-double-right",
                size: "fluid",
                path: _icon_path,
              }
            }) %}
          {%- else -%}
            {% set _last = _last|merge({
              position: 'last'
            }) %}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
      {%- include '@oe-bcl/bcl-pagination/pagination-item.html.twig' with _last only -%}
    </li>
  {% endif %}
  </ul>
</nav>

{% endapply %}
