{% spaceless %}

{#
  Parameters:
  - icon (icon Object) (default: {})
  - title (string) (default: '')
  - file (string) (default: '')
  - download (link Object) (default: {})
  - other_dropdown (object) (default: {}) format: {
    id: "",
    alignment: "",
    dropdown_label: {}, - link Object
    items: [
      {
        extension: "",
        language: "",
        size: "",
        download: {}, - link Object
      },
  }
#}

{# Internal properties #}

{% set _icon = icon|default({}) %}
{% set _title = title|default('') %}
{% set _file = file|default('') %}
{% set _download = download|default({}) %}
{% set _other_dropdown = other_dropdown|default({}) %}
{% set _inline_download = inline_download|default(true) %}
{% set _card = card|default({}) %}

{% if _card is not empty %}
  {% set attributes = attributes.addClass(["border-start", "border-end", "border-top", "rounded-bottom"]) %}

  {%- include '@oe-bcl/bcl-card/card.html.twig' with _card|merge({
    extra_classes_body: "p-0",
    attributes: create_attribute().addClass(["rounded-0", "rounded-top", "p-4", "border-bottom-0"])
  }) only -%}
{% else %}
  {% set attributes = attributes.addClass(["border", "rounded"]) %}
{% endif %}

<div
  {{ attributes }}
>
  <div class="px-3-5 py-3">
    <div class="d-flex">
      {% set _container_classes = "w-100" %}
      {% if _icon is not empty %}
        {% set _container_classes = _container_classes ~ " ms-2-5" %}
        {% set _icon = _icon|merge({
          attributes: create_attribute().addClass(["mt-1", "text-secondary"])
        }) %}
        {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _icon only -%}
      {% endif %}
      {% if _inline_download %}
        {% set _container_classes = _container_classes ~ " d-md-flex" %}
      {% endif %}
      <div class="{{ _container_classes }}">
        <div class="flex-grow-1">
          {% if _title is not empty %}
            <p class="fw-bold m-0">{{ _title }}</p>
          {% endif %}
          <small class="fw-bold m-0">
            {{ _file.language }}
            <span class="fw-normal">
              ({{ _file.size ~ " " ~ _file.extension }})
            </span>
          </small>
        </div>
        {% set _download = _download|merge({
          attributes: create_attribute()
                      .setAttribute("download", _download.url)
                      .addClass(["text-underline-hover", "align-self-center", "d-inline-block", "mt-1", "mt-md-0"])
        }) %}
        {% include '@oe-bcl/bcl-link/link.html.twig' with _download only %}
      </div>
    </div>
  </div>
  {% if _other_dropdown is not empty %}
  <div class="bg-light py-3 px-4 border-top">
    {% if _other_dropdown.alignment is not empty %}
    <div class="text-{{ _other_dropdown.alignment }}">
    {% endif %}
    {% include '@oe-bcl/bcl-link/link.html.twig' with _other_dropdown.dropdown_label|merge({
      path: "#" ~ _other_dropdown.id,
      attributes: create_attribute()
                  .addClass(['text-underline-hover'])
                  .setAttribute("aria-controls", _other_dropdown.id)
                  .setAttribute("data-bs-toggle", "collapse")
                  .setAttribute("aria-expanded", "false")
                  .setAttribute("role", "button"),
    }) only %}
    {% if _other_dropdown.alignment is not empty %}
    </div>
    {% endif %}
    {% if _other_dropdown.items is not empty and _other_dropdown.items is iterable %}
    <div class="collapse" id="{{ _other_dropdown.id }}">
      {% for _item in _other_dropdown.items %}
        {% set _item_classes = loop.last ? "pt-3" : "py-3 border-bottom" %}
        <div class="{{ _item_classes }}">
        {% if _item.type == "content" %}
          {{ _item.content }}
        {% else %}
          {% if _item.inline_download %}
            <div class="row">
          {% endif %}
          {% if _item.inline_download %}
            <div class="col-10">
          {% endif %}
              {% if _item.title is not empty %}
                <p class="fw-bold m-0">{{ _item.title }}</p>
              {% endif %}
              {% if _item.title is not empty %}
                <p class="m-0">{{ _item.description }}</p>
              {% endif %}
              <small class="fw-bold">{{ _item.language }} <span class="fw-normal">({{ _item.size ~ " - " ~ _item.extension }})</span></small>
          {% if _item.inline_download %}
            </div>
            <div class="col-2 align-self-end">
          {% endif %}
            {% include '@oe-bcl/bcl-link/link.html.twig' with _item.download|merge({
              attributes: create_attribute()
                          .setAttribute("download", _item.download.url)
                          .addClass(["d-block", "text-underline-hover", "mt-1"])
            }) only %}
          {% if _item.inline_download %}
              </div>
            </div>
          {% endif %}
        {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>

{% endspaceless %}
