{# Parameters:
  - id (string) (default: language-dropdown-random(10000))
  - label (string) (default: '')
  - icon_path (string) (default: '')
  - items (string) (default: [])
    format: [
      {
        extension: '',
        language: '',
        size: '',
        download: {}, - link Object
      },
    ]
#}

{%- set _id = id|default('language-dropdown' ~ random(10000)) %}
{% set _label = label|default('') %}
{% set _icon_path = icon_path|default('') %}
{% set _items = items|default([]) %}

{%- if attributes is empty %}
  {%- set attributes = create_attribute() %}
{% endif %}

{%- set attributes = attributes.addClass(['bg-lighter', 'py-3', 'px-4', 'border-top']) -%}

<div
  {{ attributes }}>{# -#}
  <div class="text-end text-md-center">
    {% include '@oe-bcl/bcl-button/button.html.twig' with _label|merge({
      attributes: create_attribute()
        .addClass(['standalone', 'p-0', 'border-0', 'bg-transparent', 'text-primary'])
        .setAttribute('aria-controls', _id)
        .setAttribute('aria-expanded', 'false')
        .setAttribute('aria-label', 'Show other language versions of this document'|t)
        .setAttribute('data-bs-toggle', 'collapse')
        .setAttribute('data-bs-target', '#' ~ _id)
    }) only -%}
  </div>
  {%- if _items is not empty and _items is iterable -%}
  <div class="collapse" id="{{ _id }}">
    {%- for _item in _items %}

      {% if _item.title is not empty and _item.download.path is not empty %}
        {% set _meta_id = 'doc-meta-' ~ 'translation'|clean_unique_id %}
        {% set _item_title %}
          {{ _item.title }}
          <span class="visually-hidden"> | 
            {{ 'View document - @language @meta, opens in a new tab'|t({
              '@meta': _item.meta|default(''),
              '@language' : _item.language|default('')
            }) }}
          </span>
        {% endset %}
        {% set _item_title %}
          {{ bcl_link(
            _item_title,
            _item.download.path,
            attributes: create_attribute({
              'target' : '_blank',
              'aria-describedby': _meta_id,
            })
          ) }}
        {% endset %}
      {% endif %}

      {%- set _item_classes = loop.last ? 'pt-3' : 'py-3 border-bottom' -%}
      <div class="{{ _item_classes }}">
      {%- if _item.type == 'content' %}
        {{- _item.content }}
      {%- else -%}
        <div class="row">{# -#}
          <div class="col-12 col-md-9">
            {%- if _item.title is not empty -%}
              <p class="fw-bold m-0">{{ _item_title|default(_item.title) }}</p>
            {%- endif %}
            {%- if _item.description is not empty -%}
              <p class="m-0">{{ _item.description }}</p>
            {%- endif %}
            {%- if _item.language is not empty or _item.meta is not empty -%}
            <small class="fw-bold m-0" id="{{ _meta_id }}">
              {%- if _item.language is not empty -%}
                {{- _item.language -}}
              {%- endif -%}
              {%- if _item.meta is not empty -%}
                <span class="fw-normal">
                  {{- ' ' ~ _item.meta -}}
                </span>
              {%- endif -%}
            </small>
            {%- endif -%}
          </div>{# -#}
        </div>
      {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
  {%- endif -%}
</div>
{#--#}
