{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' -%}

{%- block sidebar %}
  {% include '@oe-bcl/bcl-inpage-navigation/inpage-navigation.html.twig' with sidebar only %}
{%- endblock -%}

{%- block content %}
  {% if authors is defined and authors is not empty %}
    <h2
      class="mb-2-5"
      id="{{ authors.title_id }}"
    >
      {{- authors.title -}}
    </h2>
    {% if authors.listing|length > 5 %}
      <p class="fs-5">{{ authors.listing|join('  •  ') }}</p>
    {% else %}
      <ul class="ps-4">
      {% for author in authors.listing %}
        <li class="ps-2 fs-5 mb-1">{{- author -}}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endif %}

  {% if description is defined and description is not empty %}
    <h2
      class="mb-4 pt-2-5"
      id="{{ description.title_id }}"
    >
      {{- description.title -}}
    </h2>
    {% for paragraph in description.paragraphs %}
      <p class="mb-3">{{- paragraph -}}</p>
    {% endfor %}
  {% endif %}

  {% if file is not empty %}
    <div class="pt-2 mb-4">
      {% include '@oe-bcl/bcl-file/file.html.twig' with file only %}
    </div>
  {% endif %}

{%- endblock -%}
