{% spaceless %}

{# Parameters:
  - picture (object) format: {
    - "path" (string) (default: '')
    - "alt" (string) (default: '')
  }
  - name (object) format: {
    - "text" (string) (default: '')
    - "link" (string) (default: '')
  }
  - infos (array of strings) (default: [])
#}

{% set attributes = create_attribute().addClass(["d-flex", "mb-3"]) %}

<div
  {{ attributes }}
>
  <div class="flex-shrink-0">
    <img
      class="rounded-pill"
      src="{{ picture.path }}"
      alt="{{ picture.alt }}"
    >
  </div>
  <div class="flex-grow-1 ms-3">
    <a href="{{ name.link }}" class="fs-5 text-decoration-none mb-0">{{ name.text }}</a>
    <div class="d-flex flex-wrap">
      {% for info in infos %}
        <span class="text-muted text-nowrap{{ loop.last ? '' :' me-4-5'}}">{{ info }}</span>
      {% endfor %}
    </div>
  </div>
</div>

{% endspaceless %}
