{% spaceless %}

{# Parameters:
  - picture (string) <img> tag (default: '')
  - name (object) format: {
    - "text" (string) (default: '')
    - "link" (string) (default: '')
  }
  - infos (array of strings) (default: [])
#}

{% set _picture = picture|default("") %}
{% set _name = name|default({}) %}
{% set _infos = infos|default([]) %}

{% set attributes = create_attribute().addClass(["d-flex", "mb-3"]) %}

<div
  {{ attributes }}
>
  <div class="flex-shrink-0">
    {{- _picture -}}
  </div>
  <div class="flex-grow-1 ms-3">
    {% if _name.link is not empty %}
      <a href="{{ _name.link }}" class="fs-5 text-decoration-none mb-0">{{ _name.text }}</a>
    {% else %}
      <p class="fs-5 text-decoration-none mb-0 text-primary">{{ _name.text }}</p>
    {% endif %}
    <div class="d-flex flex-wrap">
      {% for info in _infos %}
        <span class="text-muted text-nowrap{{ loop.last ? '' :' me-4-5'}}">{{ info }}</span>
      {% endfor %}
    </div>
  </div>
</div>

{% endspaceless %}
