{# Parameters:
  - striped (boolean) (default: false)
  - hoverable (boolean) (default: false)
  - table_responsive (string) (default: '')
    - options ['all', 'sm', 'md', 'lg', 'xl', 'xxl']
  - variant (string) (default: '')
    - options ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark']
  - small (boolean) (default: false)
  - alignment (string) (default: '')
    - options ['bottom', 'middle', 'top']
  - caption (string) (default: '')
  - caption_top (boolean) (default: false)
  - border (string) (default: '')
    - options ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark']
  - borderless (boolean) (default: false)
  - table_footer (object[]) (default: {})
    format: [
      {
        - col_span
        - content
      }
    ]
  - table_head (object[]) (default: {})
    format: [
      {
        - col_span
        - content
      }
    ]
  - rows (object[]) (default: [])
      format: [
        {
          - active
          - alignment
          - variant
          - cells: [
            {
              - col_span
              - content
            }
          ]
        }
    ]
  - attributes (drupal attrs)
#}

{% set _striped = striped ?? false %}
{% set _hoverable = hoverable ?? false %}
{% set _table_responsive = table_responsive|default('') %}
{% set _variant = variant|default('') %}
{% set _small = small ?? false %}
{% set _alignment = alignment|default('') %}
{% set _caption = caption|default('') %}
{% set _caption_top = caption_top ?? false %}
{% set _border = border|default('') %}
{% set _borderless = borderless ?? false %}
{% set _table_footer = table_footer|default({}) %}
{% set _table_head = table_head|default({}) %}
{% set _rows = rows|default([]) %}

{% set _classes = ['table'] %}
{% if _striped %}
  {% set _classes = _classes|merge(['table-striped']) %}
{% endif %}
{% if _hoverable %}
  {% set _classes = _classes|merge(['table-hover']) %}
{% endif %}
{% if _alignment is not empty %}
  {% set _classes = _classes|merge(['align-' ~ _alignment]) %}
{% endif %}
{% if _variant is not empty %}
  {% set _classes = _classes|merge(['table-' ~ _variant]) %}
{% endif %}
{% if _small %}
  {% set _classes = _classes|merge(['table-sm']) %}
{% endif %}
{% if _border is not empty %}
  {% set _classes = _classes|merge(['table-bordered', 'border-' ~ _border]) %}
{% endif %}
{% if _borderless %}
  {% set _classes = _classes|merge(['table-borderless']) %}
{% endif %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(_classes) %}

{% if _table_responsive is not empty %}
  {% set _responsive_class = 'table-responsive' %}
  {% if _table_responsive != 'all' %}
    {% set _responsive_class = _responsive_class ~ '-' ~ _table_responsive %}
  {% endif %}
  <div class="{{ _responsive_class }}">
{% endif %}

<table
  {{ attributes }}
>
{%- if _caption is not empty -%}
  <caption
    {% if _caption_top %}
    class="caption-top"
    {% endif %}
  >
    {{- _caption -}}
  </caption>
{%- endif -%}
{% if _table_head is not empty %}
  <thead>
  {% if _table_head.cells is not empty and _table_head.cells is iterable %}
    <tr>
    {% for _cell in _table_head.cells %}
      <td
      {% if _cell.col_span is not empty %}
        colspan={{ _cell.col_span }}
      {% endif %}
      >
        {{- _cell.content -}}
      </td>
    {% endfor %}
    </tr>
  {% endif %}
  </thead>
{% endif %}

{% if _rows is not empty and _rows is iterable %}
<tbody>
  {% for _row in _rows %}
    {% set _row_class = '' %}
    {% if _row.active %}
      {% set _row_class = 'table-active' %}
    {% endif %}
    {% if _row.alignment is not empty %}
      {% if _row_class is not empty %}
        {% set _row_class = _row_class ~ ' align-' ~ _row.alignment %}
      {% else %}
        {% set _row_class = 'align-' ~ _row.alignment %}
      {% endif %}
    {% endif %}
    {% if _row.variant is not empty %}
      {% if _row_class is not empty %}
        {% set _row_class = _row_class ~ ' table-' ~ _row.variant %}
      {% else %}
        {% set _row_class = 'table-' ~ _row.variant %}
      {% endif %}
    {% endif %}
    <tr
    {% if _row_class is not empty %}
    class="{{ _row_class }}"
    {% endif %}
    >
    {% if _row.cells is defined and _row.cells is not empty and _row.cells is iterable %}
      {% for _cell in _row.cells %}
        <td
        {% if _cell.col_span is defined and _cell.col_span is not empty %}
          colspan={{ _cell.col_span }}
        {% endif %}
        >
          {{- _cell.content -}}
        </td>
      {% endfor %}
    {% endif %}
    </tr>
  {% endfor %}
</tbody>
{% endif %}

{% if _table_footer is not empty %}
  <tfoot>
  {% if _table_footer.cells is not empty and _table_footer.cells is iterable %}
    <tr>
    {% for _cell in _table_footer.cells %}
      <td
      {% if _cell.col_span is not empty %}
        colspan={{ _cell.col_span }}
      {% endif %}
      >
        {{- _cell.content -}}
      </td>
    {% endfor %}
    </tr>
  {% endif %}
  </tfoot>
{% endif %}
</table>

{% if _table_responsive is not empty %}
  </div>
{% endif %}

