{% spaceless %}

{# Parameters:
  - variant (string) (default: 'neutral')
  - navbar (Navbar object) (default: {})
  - project_logo (object) (default: {})
    format: {
        path: "",
        alt: "",
        classes: ""
      }
  - site_name (string) (default: "")
  - head (Navbar object) (default: {})
  - breadcrumbs (Breadcrumbs object) (default: {})
  - light (boolean) (default: false)
  - modals (Array of modal objects) (default: [])
#}

{% set _variant = variant|default('neutral') %}
{% set _navbar = navbar|default({}) %}
{% set _project_logo = project_logo|default({}) %}
{% set _site_name = site_name|default('') %}
{% set _site_name_classes = 'bcl-header__site-name' %}
{% set _head = head|default({}) %}
{% set _breadcrumbs = breadcrumbs|default({}) %}
{% set _modals = modals|default([]) %}
{% set _light = light|default(false) %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(['bcl-header', 'bcl-header--' ~ _variant]) %}

{% if site_name_classes is not empty %}
  {% set _site_name_classes = _site_name_classes ~ ' ' ~ site_name_classes %}
{% endif %}

{% set _project_classes = 'bcl-header__project' %}
{% if _light is not empty %}
  {% set _project_classes = _project_classes ~ ' light' %}
{% endif %}

<header
  {{ attributes }}
>
  <!-- navbar_settings -->
  {% if _head is not empty %}
    {% include '@oe-bcl/bcl-navbar/navbar.html.twig' with _head only %}
  {% endif %}

  <!-- project name -->
  {% if _project_logo is not empty or _site_name is not empty %}
  <div class="{{ _project_classes  }}">
    <div class="container">
    {% if _project_logo is not empty %}
      <img
      {% if _project_logo.path is not empty %}
        src="{{ _project_logo.path }}"
      {% endif %}
      {% if _project_logo.alt is not empty %}
        alt="{{ _project_logo.alt }}"
      {% endif %}
      {% if _project_logo.classes is not empty %}
        class="{{ _project_logo.classes }}"
      {% endif %}
      />
    {% endif %}
    {% if _site_name is not empty %}
      <div class="{{ _site_name_classes }}">
       {{- _site_name -}}
       </div>
    {% endif %}
    </div>
  </div>
  {% endif %}

  <!-- navbar -->
  {% if _navbar is not empty %}
    {% include '@oe-bcl/bcl-navbar/navbar.html.twig' with _navbar only %}
  {% endif %}

  <!-- breadcrumbs -->
  {% if _breadcrumbs is not empty %}
    <div class="container">
      {% include '@oe-bcl/bcl-breadcrumb/breadcrumb.html.twig' with _breadcrumbs only %}
    </div>
  {% endif %}
</header>

{% for modal in _modals %}
  {% include '@oe-bcl/bcl-modal/modal.html.twig' with modal only %}
{% endfor %}

{% endspaceless %}
