{% spaceless %}

{# Parameters:
  - media (object) format: {
      - "path" (string) (default: '')
      - "alt" (string) (default: '')
      - "extra_classes" (optional) (string) (default: '')
    }
  - text (object) format: {
      - "content" (string) (default: '')
      - "extra_classes" (optional) (string) (default: '')
    }
#}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if media.extra_classes is not empty %}
  {% set _media_attributes = create_attribute() %}
  {% set _media_attributes = _media_attributes.addClass(media.extra_classes) %}
{% endif %}

{% set _text_attributes = create_attribute() %}

{% set _text_attributes = _text_attributes.addClass("flex-grow-1") %}

{% if text.extra_classes is not empty %}
  {% set _text_attributes = _text_attributes.addClass(text.extra_classes) %}
{% endif %}

{% set attributes = attributes.addClass(["d-flex"]) %}

<div
  {{ attributes }}
>
  <div class="flex-shrink-0">
    <img
      src="{{ media.path }}"
      alt="{{ media.alt }}"
      {{ _media_attributes }}
    >
  </div>
  <div
    {{ _text_attributes }}
  >
    {{ text.content }}
  </div>
</div>

{% endspaceless %}
