{% spaceless %}

{#
  Parameters:
  - title: (string) (default: "")
  - title_tag: (string) (default: "h2")
  - "items" (array) (default: []): format: [
      {
        "term" (object or array of object) -format: {
          icon: {} - icon object,
          label: ""
        }
        "definition" (block or array of string)
      },
      ...
    ]
  - "variant" (string) (default: '') 
    - option: ["horizontal"]
#}

{# Parameters #}

{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h2') %}
{% set _items = items|default([]) %}
{% set _variant = variant|default('') %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if _variant == 'horizontal' %}
  {% set attributes = attributes.addClass(["d-md-grid", "grid-3-9"]) %}
{% endif %}

{% if _title is not empty %}
  {% set _title_classes = 'fw-bold mb-4' %}
  <{{ _title_tag }} class="{{ _title_classes }}">
    {{- _title -}}
  </{{ _title_tag }}>
{% endif %}

<dl
  {{ attributes }}
>
  {% for _item in _items %}
    {% if _item.term is not empty %}
      {% if _item.term is iterable %}
        {% if _variant == 'horizontal' %}
          <div>
        {% endif %}
        {% for _term in _item.term %}
          <dt
          {% if _variant == 'horizontal' and _term.icon is not empty %}
            class="d-flex"
          {% endif %}
          >
            {%- if _term.icon is not empty -%}
              {% set _icon_classes = ["me-2"] %}
              {% if _variant == 'horizontal' %}
                {% set _icon_classes = _icon_classes|merge(["mt-1"]) %}
              {% endif %}
              {% include '@oe-bcl/bcl-icon/icon.html.twig' with _term.icon|merge({
                attributes: create_attribute().addClass(_icon_classes)
              }) only %}
            <p class="mb-0 d-inline-block">{{ _term.label }}</p>
          {%- else -%}
            {{- _term.label -}}
          {%- endif -%}
          </dt>
        {% endfor %}
        {% if _variant == 'horizontal' %}
          </div>
        {% endif %}
      {% else %}
        <dt
          {% if _variant == 'horizontal' and _item.term.icon is not empty %}
            class="d-flex"
          {% endif %}
        >
          {%- if _item.term.icon is not empty -%}
            {% set _icon_classes = ["me-2"] %}
            {% if _variant == 'horizontal' %}
              {% set _icon_classes = _icon_classes|merge(["mt-1"]) %}
            {% endif %}
            {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _item.term.icon|merge({
              attributes: create_attribute().addClass(_icon_classes)
            }) only -%}
            <p class="mb-0 d-inline-block">{{ _item.term.label }}</p>
          {%- else -%}
            {{- _item.term.label -}}
          {%- endif -%}
        </dt>
      {% endif %}
    {% endif %}
    {% if _item.definition is not empty %}
      {% if _item.definition is iterable %}
        {% if _variant == 'horizontal' %}
          <dd>
        {% endif %}
        {% for _definition in _item.definition %}
          {% if _variant == 'horizontal' %}<div>{% else %}<dd>{% endif %}
            {%- if _definition.button is defined -%}
              {% include '@oe-bcl/bcl-button/button.html.twig' with _definition.button only %}
            {%- elseif _definition.link is defined %}
              {% include '@oe-bcl/bcl-link/link.html.twig' with _definition.link only -%}
            {%- else -%}
              {%- if _definition.icon is defined -%}
                {%- set _icon_classes = ["me-2"] -%}
                {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _definition.icon|merge({
                  attributes: create_attribute().addClass(_icon_classes)
                }) only -%}
               <p class="mb-0 d-inline-block">{{ _definition.label }}</p>
              {%- else -%}
                {{- _definition.label -}}
              {%- endif -%}
            {%- endif -%}
          {% if _variant == 'horizontal' %}</div>{% else %}</dd>{% endif %}
        {% endfor %}
        {% if _variant == 'horizontal' %}
          </dd>
        {% endif %}
      {% else %}
        <dd>
          {%- block definition _item.definition -%}
        </dd>
      {% endif %}
    {% endif %}
  {% endfor %}
</dl>

{% endspaceless %}
