{% spaceless %}

{#
  Parameters:
  - title: (string) (default: '')
  - title_tag: (string) (default: 'h2')
  - title_link: (link object) (default: {})
  - title_attributes (drupal attrs)
  - bordered (boolean) (default: '')
  - items (array) (default: []): format: [
      {
        term (object or array of object) -format: {
          icon: {} - icon object,
          label: ''
        }
        definition (block or array of string)
      },
      ...
    ]
  - variant (string) (default: '') 
    - option: ['horizontal']
#}

{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h2') %}
{% set _bordered = bordered|default(false) %}
{% set _title_link = title_link|default({}) %}
{% set _title_attributes = title_attributes ?: create_attribute() %}
{% set _items = items|default([]) %}
{% set _variant = variant|default('') %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set _item_classes = '' %}

{% if _variant == 'horizontal' %}
  {% set _item_classes = 'd-md-grid grid-3-9 mb-2-5' %}
  {% if _bordered %}
    {% set _item_classes = _item_classes ~ ' pb-2-5' %}
  {% endif %}
{% else %}
  {% set _item_classes = 'mb-2-5' %}
  {% if _bordered %}
    {% set _item_classes = _item_classes ~ ' pb-1' %}
  {% endif %}
{% endif %}
{% if _bordered %}
  {% set _item_classes = _item_classes ~ ' border-bottom' %}
{% endif %}

{% if _title is not empty %}
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
    title: _title,
    title_tag: _title_tag,
    title_link: _title_link,
    attributes: _title_attributes,
  } only %}
{% endif %}

<dl
  {{ attributes }}
>
  {% for _item in _items %}
    {% if loop.last %}
      {% set _item_classes = '' %}
      {% if _variant == 'horizontal' %}
        {% set _item_classes = 'd-md-grid grid-3-9 mb-2-5' %}
      {% endif %}
    {% endif %}
    {% if _item.term is not empty %}
      {% if _variant == 'horizontal' or _bordered %}
        <div
          {% if _item_classes is not empty %}
            class="{{ _item_classes }}"
          {% endif %}
        >
      {% endif %}
      {% if _item.term is iterable %}
        {% if _variant == 'horizontal' %}
          <div>
        {% endif %}
        {% for _term in _item.term %}
          <dt
          {% if _variant == 'horizontal' and _term.icon is not empty %}
            class="d-flex"
          {% endif %}
          >
            {%- if _term.icon is not empty -%}
              {% set _icon_classes = ["me-2"] %}
              {% if _variant == 'horizontal' %}
                {% set _icon_classes = _icon_classes|merge(["mt-1"]) %}
              {% endif %}
              {% include '@oe-bcl/bcl-icon/icon.html.twig' with _term.icon|merge({
                attributes: create_attribute().addClass(_icon_classes)
              }) only %}
              <p class="mb-0 d-inline-block">{{ _term.label }}</p>
            {%- elseif _term.color is not empty -%}
              <div class="d-flex align-items-center">
                <span class="p-2 me-2 d-inline-block rounded-1 {{ _term.color }}"></span>{{- _term.label -}}
              </div>
            {%- else -%}
              {{- _term.label -}}
            {%- endif -%}
          </dt>
        {% endfor %}
        {% if _variant == 'horizontal' %}
          </div>
        {% endif %}
      {% else %}
        <dt
          {% if _variant == 'horizontal' and _item.term.icon is not empty %}
            class="d-flex"
          {% endif %}
        >
          {%- if _item.term.icon is not empty -%}
            {% set _icon_classes = ["me-2"] %}
            {% if _variant == 'horizontal' %}
              {% set _icon_classes = _icon_classes|merge(["mt-1"]) %}
            {% endif %}
            {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _item.term.icon|merge({
              attributes: create_attribute().addClass(_icon_classes)
            }) only -%}
            <p class="mb-0 d-inline-block">{{ _item.term.label }}</p>
          {%- elseif _item.term.color is not empty -%}
            <div class="d-flex align-items-center">
              <span class="p-2 me-2 d-inline-block rounded-1 {{ _item.term.color }}"></span>{{- _item.term.label -}}
            </div>
          {%- else -%}
            {{- _item.term.label -}}
          {%- endif -%}
        </dt>
      {% endif %}
    {% endif %}
    {% if _item.definition is not empty %}
      {% if _item.definition is iterable %}
        {% if _variant == 'horizontal' %}
          <dd
            {% if _bordered %}
              class="mb-0"
            {% endif %}
          >
        {% endif %}
        {% for _definition in _item.definition %}
          {% if _variant == 'horizontal' %}<div>{% else %}<dd>{% endif %}
            {%- if _definition.button is defined -%}
              {% include '@oe-bcl/bcl-button/button.html.twig' with _definition.button only %}
            {%- elseif _definition.link is defined %}
              {% include '@oe-bcl/bcl-link/link.html.twig' with _definition.link only -%}
            {%- else -%}
              {%- if _definition.icon is defined -%}
                {%- set _icon_classes = ["me-2"] -%}
                {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _definition.icon|merge({
                  attributes: create_attribute().addClass(_icon_classes)
                }) only -%}
               <p class="mb-0 d-inline-block">{{ _definition.label }}</p>
              {%- else -%}
                {{- _definition.label -}}
              {%- endif -%}
            {%- endif -%}
          {% if _variant == 'horizontal' %}</div>{% else %}</dd>{% endif %}
        {% endfor %}
        {% if _variant == 'horizontal' %}
          </dd>
        {% endif %}
      {% else %}
        <dd
          {% if _bordered %}
            class="mb-0"
          {% endif %}
        >
          {%- block definition _item.definition -%}
        </dd>
      {% endif %}
      {% if _variant == 'horizontal' or _bordered  %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</dl>

{% endspaceless %}
