{% spaceless %}

{#
Parameters:
  - title: (string) (default: '')
  - title_tag: (string) (default: 'h2')
  - "counter": (string) (default: '')
  - "toggle_collapsed": (string) (default: '')
  - "toggle_expanded": (string) (default: '')
  - icon_path (string) (default: '')
  - "carousel": (object) (default: {})
    - id (string) (default: '')
    - autoplay (boolean) (default: true)
    - autoinit (boolean) (default: true)
    - dark (boolean) (default: false)
    - active_item (integer) (default: 1)
    - items (array of objects) format: [
      {
        thumbnails (string) img path
        image: (string) <img> tag
        caption (string)
        caption_classes (string)
        interval (integer) (default: 0)
      }
      ...
    ],
    - fade (boolean) (default: false)
    - with_controls (boolean) (default: true)
    - previous_label (string) (default: '')
    - next_label (string) (default: '')
    - with_indicators (boolean) (default: false)
    - rounded_indicators (boolean) (default: false)

{# Internal properties #}

{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h2') %}
{% set _counter = counter|default('') %}
{% set _toggle_collapsed = toggle_collapsed|default('') %}
{% set _toggle_expanded = toggle_expanded|default('') %}
{% set _icon_path = icon_path|default({}) %}
{% set _carousel = carousel|default({}) %}
{% set _carousel_id = carousel.id|default('carousel-' ~ random(1000)) %}
{% set _modal_id = "modal" ~ _carousel_id|capitalize %}
{% set _collpase_id = "collapse" ~ _carousel_id|capitalize %}
{% set _active_item = carousel.active_item|default(1) %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass('bcl-gallery') %}

{# Print the result #}

{% if _carousel is not empty%}

  <div {{ attributes }}>
    {% if _carousel.items is iterable %}
      <div class="d-sm-flex flex-sm-row align-items-sm-center">
        <div class="flex-sm-grow-1">
          {%- if _title is not empty -%}
            {% set _title_classes = 'fw-bold mb-3' %}
            <{{ _title_tag }} class="{{ _title_classes }}">
              {{- _title -}}
            </{{ _title_tag }}>
          {%- endif -%}
        </div>
        <div class="mb-3 mb-sm-0 fw-bold">
          {%- if _counter is not empty -%}
            {{ _counter|replace({'%d': _carousel.items|length}) }}
          {%- endif -%}
        </div>
      </div>

      {% for _item in _carousel.items %}
        {% if loop.first %}
          <div class="bcl-gallery__thumbnails">
        {% endif %}
        {% if loop.index == 6 %}
          <div class="bcl-gallery__thumbnails-collaspe collapse" id="{{ _collpase_id }}">
        {% endif %}
        {% if loop.index % 6 == 0 or loop.first %}
          <ul class="bcl-gallery__grid">
        {% endif %}

        <li>
          <a href="#" data-bs-target="#{{ _carousel_id }}" data-bs-slide-to="{{ loop.index - 1 }}" class="d-block w-100 img-fluid">
            <img src="{{ _item.thumbnail }}" data-bs-target="#{{ _modal_id }}" data-bs-toggle="modal">
          </a>
        </li>

        {% if loop.index % 5 == 0 or loop.last %}
          </ul>
        {% endif %}  
        {% if loop.last %}
          </div>
        {% endif %}
        {% if loop.index > 6 and loop.last %}
          </div>
          <div class="bg-lighter py-3 px-4 mt-2 rounded text-center">
            <a 
              class="bcl-gallery__collapse standalone d-none d-sm-inline-block" 
              aria-controls="{{ _collpase_id }}" 
              data-bs-toggle="collapse" 
              aria-expanded="false" 
              role="button" 
              href="#{{ _collpase_id }}"
            >
              <span class="label-collapsed">{{ _toggle_collapsed|replace({'%d': _carousel.items|length}) }}</span>
              <span class="label-expanded">{{ _toggle_expanded }}</span>
              {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
                name: 'caret-down-fill',
                size: '2xs',
                path: _icon_path,
                attributes: create_attribute().addClass('ms-2-5'),
              } only %}
            </a>
            <a 
              class="bcl-gallery__mobile-view-more standalone d-inline-block d-sm-none" 
              data-bs-target="#{{ _carousel_id }}" 
              data-bs-slide-to="5" 
              role="button" 
              href="#"
            >
              <span data-bs-target="#{{ _modal_id }}" data-bs-toggle="modal">
                <span class="label-collapsed">{{ _toggle_collapsed|replace({'%d': _carousel.items|length}) }}</span>
                {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
                  name: 'caret-down-fill',
                  size: '2xs',
                  path: _icon_path,
                  attributes: create_attribute().addClass('ms-2-5'),
                } only %}
              <span>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="modal" id="{{ _modal_id }}" tabindex="-1" aria-labelledby="{{ _modal_id }}" aria-hidden="true" data-bs-backdrop="false">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header border-0 justify-content-between">
            {% if _title is not empty %}
              <h3 class="modal-title">{{- _title -}}</h3>
            {% endif %}
            <div class="carousel-pager">
              <span>{{ _active_item }}</span> / {{ _carousel.items|length }}
            </div>
            <div class="modal-close">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
          
          <div class="modal-body d-flex align-items-center justify-content-center">
            {% include '@oe-bcl/bcl-carousel/carousel.html.twig' with _carousel only %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endif %}

{% endspaceless %}
