{% apply spaceless %}

{#
Parameters:
  - id (string) (default: '')
  - title (string) (default: '')
  - title_tag (string) (default: 'h2')
  - title_link: (link object) (default: {})
  - title_attributes (drupal attrs)
  - counter (string) (default: '')
  - toggle_collapsed (string) (default: '')
  - toggle_expanded (string) (default: '')
  - next_label (string) (default: 'Next')
  - prev_label (string) (default: 'Previous')
  - max_visible_thumbnails (int) (default: 5)
  - items (array of objects) format: [
      {
        thumbnails (string) img path
        media: (string) <img> tag
        caption (string)
        caption_title (string)
        caption_classes (string)
        interval (integer) (default: 0)
      }
    ]
  - icon_path (string) (default: '')
  - attributes (drupal attrs)
#}

{% set _id = id|default('gallery-' ~ random(1000)) %}
{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h2') %}
{% set _title_link = title_link|default({}) %}
{% set _title_attributes = title_attributes ?: create_attribute() %}
{% set _counter = counter|default('') %}
{% set _toggle_collapsed = toggle_collapsed|default('') %}
{% set _toggle_expanded = toggle_expanded|default('') %}
{% set _next_label = next_label|default('Next') %}
{% set _prev_label = prev_label|default('Previous') %}
{% set _max_visible_thumbnails = max_visible_thumbnails|default(5) %}
{% set _items = items|default([]) %}
{% set _icon_path = icon_path|default('') %}
{% set _carousel_id = "carousel" ~ _id|capitalize %}
{% set _modal_id = "modal" ~ _id|capitalize %}
{% set _collapsed_id = "collapse" ~ _id|capitalize %}
{% set _max_visible_thumbnails = _max_visible_thumbnails + 1 %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass('bcl-gallery') %}

{# Print the result #}

<div {{ attributes }}>
  <div class="d-sm-flex flex-sm-row align-items-sm-center">
    <div class="flex-sm-grow-1">
    {% if _title is not empty %}
      {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
        title: _title,
        title_tag: _title_tag,
        title_link: _title_link,
        attributes: _title_attributes,
      } only %}
    {% endif %}
    </div>
    <div class="mb-3 mb-sm-0 fw-bold">
      {%- if _counter is not empty -%}
        {{ _counter|replace({'%d': _items|length}) }}
      {%- endif -%}
    </div>
  </div>
  {% if _items is not empty and _items is iterable %}
    {% for _item in _items %}
      {% if loop.first %}
        <div class="bcl-gallery__thumbnails">
      {% endif %}
      {% if loop.index == _max_visible_thumbnails %}
        <div class="bcl-gallery__thumbnails-collaspe collapse" id="{{ _collapsed_id }}">
      {% endif %}
      {% if loop.index % _max_visible_thumbnails == 0 or loop.first %}
        <ul class="bcl-gallery__grid">
      {% endif %}
        <li>
          {% include '@oe-bcl/bcl-gallery/gallery-item.html.twig' with {
            item: _item,
            carousel_id: _carousel_id,
            modal_id: _modal_id,
            icon_path: _icon_path,
            loop: loop,
          } only %}
        </li>
      {% if loop.index % 5 == 0 or loop.last %}
        </ul>
      {% endif %}  
      {% if loop.last %}
        </div>
      {% endif %}
      {% if loop.index > _max_visible_thumbnails and loop.last %}
        </div>
        <div class="bg-lighter py-3 px-4 mt-2 rounded text-center">
          <a 
            class="bcl-gallery__collapse standalone d-none d-sm-inline-block" 
            aria-controls="{{ _collapsed_id }}" 
            data-bs-toggle="collapse" 
            aria-expanded="false" 
            role="button" 
            href="#{{ _collapsed_id }}"
          >
            <span class="label-collapsed">{{ _toggle_collapsed|replace({'%d': _items|length}) }}</span>
            <span class="label-expanded">{{ _toggle_expanded }}</span>
            {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
              name: 'caret-down-fill',
              size: '2xs',
              path: _icon_path,
              attributes: create_attribute().addClass('ms-2-5'),
            } only %}
          </a>
          <a 
            class="bcl-gallery__mobile-view-more standalone d-inline-block d-sm-none" 
            data-bs-target="#{{ _carousel_id }}" 
            data-bs-slide-to="{{ _max_visible_thumbnails - 1 }}" 
            role="button" 
            href="#"
          >
            <span data-bs-target="#{{ _modal_id }}" data-bs-toggle="modal">
              <span class="label-collapsed">{{ _toggle_collapsed|replace({'%d': _items|length}) }}</span>
              {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
                name: 'caret-down-fill',
                size: '2xs',
                path: _icon_path,
                attributes: create_attribute().addClass('ms-2-5'),
              } only %}
            <span>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% include '@oe-bcl/bcl-gallery/gallery-modal.html.twig' with {
    id: _modal_id,
    carousel_id: _carousel_id,
    next_label: _next_label,
    prev_label: _prev_label,
    title: _title,
    items: _items,
    icon_path: _icon_path
  } only %}
</div>

{% endapply %}
