{% spaceless %}

{#
  Parameters:
  - "label" (string) (default: '')
  - "hidden_label" (boolean) (default: false)
  - "helper_text" (string) (default: '')
  - "helper_text_id" (string) (default: '')
  - "disabled" (boolean) (default: false)
  - "invalid" (boolean) (default: false)
  - "required" (boolean) (default: false)
  - "size" (string) (default: 'md') (sm, lg, md)
  - "multiple" (boolean) (default: false)
  - "options": (array of objects with value and label keys) (default: [])
  - "aria_label": (string) (default: '')
#}

{% set _classes = ['form-select'] %}
{% set _disabled = disabled|default(false) %}
{% set _options = options|default([]) %}
{% set _aria_label = aria_label|default('') %}
{% set _size = size|default('md') %}
{% set _required = required|default(false) %}
{% set _multiple = multiple|default(false) %}
{% set _invalid = invalid|default(false) %}
{% set _helper_text = helper_text|default('') %}
{% set _helper_text_id = helper_text_id|default('') %}
{% set _label = label|default('') %}
{% set _label_class = 'form-label' %}
{% set _hidden_label = hidden_label|default(false) %}

{% set _classes = _classes|merge(['form-select-' ~ _size]) %}
{% if _invalid is not empty %}
  {% set _classes = _classes|merge(['is-invalid']) %}
{% endif %}

{% if _aria_label is not empty %}
  {% set attributes = attributes.setAttribute('aria-label', _aria_label) %}
{% endif %}

{% if _disabled %}
  {% set attributes = attributes.setAttribute('disabled', true) %}
{% endif %}

{% if _multiple %}
  {% set attributes = attributes.setAttribute('multiple', true) %}
{% endif %}

{% if _required %}
  {% set attributes = attributes.setAttribute('required', true) %}
{% endif %}

{% if _hidden_label %}
  {% set _label_class = _label_class ~ ' visually-hidden' %}
{% endif %}

{% set attributes = attributes.addClass(_classes) %}

{% if _label is not empty %}
  {% set _label_block %}
    <label
    {% if _id %}
      for="{{ _id }}"
    {% endif %}
      class="{{ _label_class }}"
    >
      {{- label -}}
    </label>
  {% endset %}
{% endif %}

{% if _label_block is defined %}
  {{ _label_block|raw }}
{% endif %}

<select
  {{ attributes }}
>
{% if _options is not empty and _options is iterable %}
  {% for _option in _options %}
  <option
    value="{{ _option.value }}"
  {% if _option.selected is defined %}
    selected
  {% endif %}
  {% if _disabled %}
    disabled
  {% endif %}
  >
    {{- _option.label -}}
  </option>
  {% endfor %}
{% endif %}
</select>
{% if _helper_text is not empty %}
<div
  class="form-text"
{% if _helper_text_id is not empty %}
  id="{{ _helper_text_id }}"
{% endif %}>
  {{- _helper_text -}}
</div>
{% endif %}

{% endspaceless %}
