{% spaceless %}

{# Parameters:
  - title (object) (default: {}) format: {
      label (string)
      id (string) (default: '')
      heading (string) (1, 2, 3, 4, 5, 6)
    }
  - placement (string) (default: '') (start, end, top, bottom)
  - id (string) (default: '')
  - body (string) (default: '')
  - with_body_scroll (boolean) (default: false)
  - with_backdrop (boolean) (default: true)
  - mobile_only (boolean) (default: false)
#}

{% set _title = title|default({}) %}
{% set _body = body|default({}) %}
{% set _mobile_only = mobile_only|default(false) %}
{% set _with_close = with_close ?? true %}
{% set _with_backdrop = with_backdrop ?? true %}
{% set _with_body_scroll = with_body_scroll|default(false) %}
{% set _id = id|default('') %}
{% set _placement = placement|default('') %}

{% if _mobile_only %}
  {% set _classes = ['offcanvas-mobile'] %}
  {% set _class_body = 'offcanvas-mobile-body p-lg-0' %}
  {% set _class_header = 'offcanvas-header p-lg-0' %}
  {% set _class_title = 'mb-lg-4' %}
{% else %}
  {% set _classes = ['offcanvas'] %}
  {% set _class_body = 'offcanvas-body' %}
  {% set _class_header = 'offcanvas-header' %}
  {% set _class_title = 'offcanvas-title' %}
{% endif %}

{% if _placement is not empty %}
 {% set _classes = _classes|merge(['offcanvas-' ~ _placement]) %}
{% endif %}

{% if _title is not empty %}
  {% set _aria_labelled = _title.id|default('') %}
{% endif %}

{% if _aria_labelled is defined and _aria_labelled is not empty %}
  {% set attributes = attributes.setAttribute('aria-labelledby', _aria_labelled) %}
{% endif %}

{% if _id is not empty %}
 {% set attributes = attributes.setAttribute('id', _id) %}
{% endif %}

{% if _with_body_scroll %}
 {% set attributes = attributes.setAttribute('data-bs-scroll', true) %}
{% endif %}

{% if not _with_backdrop %}
 {% set attributes = attributes.setAttribute('data-bs-backdrop', false) %}
{% endif %}

{% set attributes = attributes.setAttribute('tabindex', '-1').addClass(_classes) %}

<div
  {{ attributes }}
>
{% if _with_close or
  (_title.label is defined and _title.label is not empty)
%}
  <div class="{{ _class_header }}">
  {% if _title.label is defined and _title.label is not empty %}
    <h{{ _title.heading|default(5) }}
      class="{{ _class_title }}"
    {% if _title.id is defined and _title.id is not empty %}
      id="{{ _title.id }}"
    {% endif %}
    >
      {{- _title.label -}}
    </h{{ _title.heading|default(5) }}>
  {% endif %}
  {% if _with_close %}
    {% set button_attributes = create_attribute()
                              .addClass(['btn-close', 'text-reset'])
                              .setAttribute('data-bs-dismiss', 'offcanvas')
    %}
    {% if _mobile_only %}
      {% set button_attributes = button_attributes.addClass(['d-lg-none']) %}
    {% endif %}
    {%- include '@oe-bcl/bcl-button/button.html.twig' with {
        attributes: button_attributes,
        clean_class: true
      } only -%}
  {% endif %}
  </div>
{% endif %}
{% if _body is not empty %}
  <div class="{{ _class_body }}">
  {% if _body.items is not empty and _body.items is iterable %}
    {% for _item in _body.items %}
      {% if _item.element_type == 'input' %}
        {% include '@oe-bcl/bcl-form-input/form-input.html.twig' with _item only %}
      {% endif %}
      {% if _item.element_type == 'select' %}
        {% include '@oe-bcl/bcl-select/select.html.twig' with _item only %}
      {% endif %}
      {% if _item.element_type == 'button' %}
        {% include '@oe-bcl/bcl-button/button.html.twig' with _item only %}
      {% endif %}
      {% if _item.element_type == 'html' %}
        {{ _item.content }}
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
{% endif %}
</div>

{% endspaceless %}
