{% spaceless %}

{#
  Parameters:
    - "variant" (string) (default: '')
    - "day" (integer) (default: '')
    - "month" (string) (default: '')
    - "date_time" (string) (default: '')
    - "year" (integer) (default: '')
    - "end_day" (integer) (default: '')
    - "end_month" (string) (default: '')
    - "end_year" (integer) (default: '')
#}

{% set _month = month|default('') %}
{% set _day = day|default('') %}
{% set _year = year|default('') %}
{% set _date_time = date_time|default('') %}
{% set _end_day = end_day|default('') %}
{% set _end_month = end_month|default('') %}
{% set _end_year = end_year|default('') %}
{% set _variant = variant|default('') %}
{% set _css_classes = [
  'bcl-date-block',
  'd-flex',
  'flex-column',
  'bg-date',
  'pt-2',
  'rounded-top',
  'mw-date',
  'text-center'
] %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(_css_classes) %}

{% if _date_time is not empty %}
  {% set attributes = attributes.setAttribute('datetime', _date_time) %}
{% endif %}

<time {{ attributes }}>
  <span class="bg-white border border-bottom-0 w-100 fs-5 text-uppercase fw-medium d-flex align-items-center justify-content-center" style="height: 82px;">
    <div>
      {{- _day ~ ' ' ~ _month -}}
      {%- if _end_day is not empty or _end_month is not empty -%}
        <span> - </span>
        <br>
        {%- if _end_day is not empty -%}
          {{- _end_day -}}
        {% endif %}
        {% if _end_month is not empty %}
          {{- _end_month -}}
        {%- endif -%}
      {%- endif -%}
    </div>
  </span>
  <span class="bg-lighter border w-100 rounded-bottom mb-n1 py-1">
    {{- _year -}}
    {%- if _end_year is not empty -%}
      {{ ' - ' ~ _end_year }}
    {%- endif -%}
  </span>
</time>

{% endspaceless %}
