{% spaceless %}

{# Parameters:
  - title: (string) (default: '')
  - title_tag: (string) (default: 'h2')
  - title_link: (link object) (default: {})
  - title_attributes (drupal attrs)
  - helper_text (string) (default: '')
  - antispam (string) (default: '')
  - items (array of array of objects) (default: []) format: [
   [
    {
      ...object of type form-Input
      wrapper_classes: (string) (default: '') OR
      type: fieldset (must be the first element of the array, it will group all
      the inputs in the array in a fieldset element)
      classes: (string) (default: ''),
      legend: (string) (default: ''),
      fieldset_classes: (string) (default: ''),
      legend_classes: (string) (default: ''),
   },
  ],
  - submit (object) (default: {}) Button or Array of button
  - attributes (drupal attrs)
#}

{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h2') %}
{% set _title_link = title_link|default({}) %}
{% set _title_attributes = title_attributes ?: create_attribute() %}
{% set _helper_text = helper_text|default('') %}
{% set _items = items|default([]) %}
{% set _antispam = antispam|default('') %}
{% set _submit = submit|default({}) %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass('bcl-form') %}

{% if _title is not empty %}
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
    title: _title,
    title_tag: _title_tag,
    title_link: _title_link,
    attributes: _title_attributes,
  } only %}
{% endif %}

{% if _helper_text is not empty %}
  <p>{{ _helper_text }}</p>
{% endif %}

<form
  {{ attributes }}
>
{% if _items is not empty and _items is iterable %}
{% for _item_group in _items %}
  {% set _group_classes = '' %}
  {% set _legend_classes = '' %}
  {% set _fieldset_classes = '' %}
  {% if _item_group is not empty and _item_group is iterable %}
  {% if _item_group[0].classes is defined and _item_group[0].classes is not empty %}
    {% set _group_classes = _item_group[0].classes %}
  {% endif %}
  {# fieldset #}
  {% if _item_group[0].type == 'fieldset' %}
  {% if _item_group[0].fieldset_classes is defined and _item_group[0].fieldset_classes is not empty %}
    {% set _fieldset_classes = _item_group[0].fieldset_classes %}
  {% endif %}
  <fieldset
  {% if _fieldset_classes is not empty %}
    class="{{ _fieldset_classes }}"
  {% endif %}
  {% if _item_group[0].disabled %}
    disabled
  {% endif %}
  >
  {% if _item_group[0].legend is defined and _item_group[0].legend is not empty %}
    {% if _item_group[0].legend_classes is defined and _item_group[0].legend_classes is not empty %}
      {% set _legend_classes = _item_group[0].legend_classes %}
    {% endif %}
    <legend
    {% if _legend_classes is not empty %}
      class="{{ _legend_classes }}"
    {% endif %}
    >
      {{- _item_group[0].legend -}}
    </legend>
  {% endif %}
  {% endif %}
  {% if _group_classes is not empty %}
    <div class="{{ _group_classes }}">
  {% endif %}
  {% for _item in _item_group %}
    {% if _item.type != 'fieldset' %}
      {# grouping input fields wrapper #}
      {% if _item.wrapper_classes is defined and _item.wrapper_classes is not empty %}
      <div class="{{ _item.wrapper_classes }}">
      {% endif %}
      {# textarea #}
      {% if _item.type == 'textarea' %}
        {% include '@oe-bcl/bcl-textarea/textarea.html.twig' with _item only %}
      {# select #}
      {% elseif _item.type == 'select' %}
        {% include '@oe-bcl/bcl-select/select.html.twig' with _item only %}
      {% else %}
      {# any other input type #}
        {% include '@oe-bcl/bcl-form-input/form-input.html.twig' with _item only %}
      {% endif %}
      {% if _item.wrapper_classes is defined and _item.wrapper_classes is not empty %}
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if _group_classes is not empty %}
    </div>
  {% endif %}
  {% if _item_group[0].type == 'fieldset' %}
  </fieldset>
  {% endif %}
  {% endif %}
{% endfor %}
{% endif %}
{% if _antispam is not empty %}
  <div class="mt-4 mb-2">
    <div class="bg-light">
      {{ _antispam }}
    </div>
  </div>
{% endif %}
{# submit #}
{% if _submit is not empty %}
  {% if _submit.items is empty %}
    {% set _submit = _submit|merge({
      items: [_submit]
    }) %}
  {% endif %}
  {% if _submit.wrapper is defined and _submit.wrapper is not empty %}
  <div class="{{ _submit.wrapper }}">
  {% endif %}
  {% for _item in _submit.items %}
    {% include '@oe-bcl/bcl-button/button.html.twig' with _item only %}
  {% endfor %}
  {% if _submit.wrapper is defined and _submit.wrapper is not empty %}
  </div>
  {% endif %}
{% endif %}
</form>

{% endspaceless %}
