{% spaceless %}

{#
  Parameters:
    - "colors"
#}

{% set _colors = colors|default([]) %}
<div class="row">
{% for _color in _colors %}
  <div class="col-12 col-md-6 col-lg-4 mb-4">
  {% for _value in _color.values %}
    {% if _value.percentage %}
      <span class="text-capitalize">{{ _color.name }}</span> {{ _value.percentage}} 
    {% else %}
      <span class="text-capitalize">{{ _color.name }}</span>
    {% endif %}
    <span class="float-end">{{_value.color}}</span>
    <div class="p-3 {{ _value.text_color }}" style="background: {{ _value.color }}">
    </div>
  {% endfor %}
  </div>
{% endfor %}
</div>

{% endspaceless %}
