{% apply spaceless %}

{# Parameters:
  - picture (object) format: {
    - "path" (string) (default: '')
    - "alt" (string) (default: '')
    - "classes": (string) (default: '')
  }
  - name (object) format: {
    - "text" (string) (default: '')
    - "link" (string) (default: '')
  }
  - infos (array of strings) (default: [])
#}

{% set _picture_classes = 'rounded-pill' %}
{% set _classes = ['bcl-user-compact', 'd-flex', 'mb-3'] %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(_classes) %}

{% if picture is not empty and picture.classes is not empty %}
  {% set _picture_classes = _picture_classes ~ ' ' ~ picture.classes %}
{% endif %}

<div
  {{ attributes }}
>
  <div class="flex-shrink-0">
    <img
      class="{{ _picture_classes }}"
      src="{{ picture.path }}"
      alt="{{ picture.alt }}"
    >
  </div>
  <div class="flex-grow-1 ms-3">
    {% if name.link is not empty %}
      <a href="{{ name.link }}" class="fs-5 standalone mb-0">{{ name.text }}</a>
    {% else %}
      <p class="fs-5 mb-0 text-primary">{{ name.text }}</p>
    {% endif %}
    <div class="d-flex flex-wrap">
      {% for info in infos %}
        <span class="text-muted text-nowrap{{ loop.last ? '' :' me-4-5'}}">{{ info }}</span>
      {% endfor %}
    </div>
  </div>
</div>

{% endapply %}
