{% spaceless %}

{#
  Parameters:
  - "id" (string) (default: '')
  - "type" (string) (default: 'text')
  - "label" (string) (default: '')
  - "helper_text" (string) (default: '')
  - "helper_id" (string) (default: '')
  - "checked" (boolean) (default: false)
  - "disabled" (boolean) (default: false)
  - "invalid" (boolean) (default: false)
  - "required" (boolean) (default: false)
  - "readonly" (boolean) (default: false)
  - "floating" (boolean) (default: false)
  - "horizontal" (boolean) (default: false)
  - "horizontal_class" (string) (default: col-sm-10)
  - "hidden_label" (boolean) (default: false)
  - "size" (string) (default: '')
  - "switch" (boolean) (default: false)
  - "toggle" (boolean) (default: false)
  - "toggle_variant" (string) (default: 'primary')
  - "remove_wrapper" (boolean) (default: false)
  - "extra_classes" (string) (default: '')
#}

{% set _id = id|default('') %}
{% set _type = type|default('text') %}
{% set _size = size|default('') %}
{% set _label = label|default('') %}
{% set _required = required|default(false) %}
{% set _checked = checked|default(false) %}
{% set _hidden_label = hidden_label|default(false) %}
{% set _disabled = disabled|default(false) %}
{% set _readonly = readonly|default(false) %}
{% set _invalid = invalid|default(false) %}
{% set _floating = floating|default(false) %}
{% set _helper_text = helper_text|default('') %}
{% set _helper_text_id = helper_text_id|default('') %}
{% set _placeholder = placeholder|default('') %}
{% set _horizontal = horizontal|default(false) %}
{% set _horizontal_class = horizontal_class|default('col-sm-10') %}
{% set _horizontal_label_class = horizontal_label_class|default('col-sm-2') %}
{% set _switch = switch|default(false) %}
{% set _toggle = toggle|default(false) %}
{% set _toggle_variant = toggle_variant|default('primary') %}
{% set _remove_wrapper = remove_wrapper|default(false) %}
{% set _extra_classes = extra_classes|default('') %}
{% set _label_block = false %}
{% set _label_class = 'form-label' %}
{% set _class = 'form-control' %}

{% if _size is not empty %}
  {% set _class = _class ~ " form-control-" ~ size %}
{% endif %}
{% if type == 'range' %}
  {% set _class = 'form-range' %}
{% endif %}
{% if _type == "checkbox" or type == 'radio' %}
  {% set _class = 'form-check-input' %}
  {% set _label_class = 'form-check-label' %}
{% endif %}
{% if _invalid is not empty %}
  {% set _class = _class ~ " is-invalid" %}
{% endif %}
{% if _horizontal %}
  {% set _label_class = 'col-form-label ' ~ _horizontal_label_class %}
{% endif %}
{% if _hidden_label %}
  {% set _label_class = _label_class ~ ' visually-hidden' %}
{% endif %}
{% if _toggle %}
  {% set _label_class = _label_class ~ ' btn btn-' ~ _toggle_variant %}
  {% set _class = _class ~ ' btn-check' %}
{% endif %}
{% if _extra_classes is not empty %}
  {% set _class = _class ~ " " ~ _extra_classes %}
{% endif %}

{% if _label is not empty %}
  {% set _label_block %}
    <label
    {% if _id %}
      for="{{ _id }}"
    {% endif %}
      class="{{ _label_class }}"
    >
      {{- label -}}
    </label>
  {% endset %}
{% endif %}

{% if (_floating or _horizontal or _type == 'checkbox' or _type == 'radio') and
  not _toggle and
  not _remove_wrapper
%}
  {% set _wrapper_class = _floating ? 'form-floating' : '' %}
{% if (_type == 'checkbox' or _type == 'radio') %}
  {% set _wrapper_class = 'form-check' %}
  {% if _switch %}
    {% set _wrapper_class = _wrapper_class ~ ' form-switch' %}
  {% endif %}
{% endif %}
{% if _wrapper_class is not empty %}
<div class="{{ _wrapper_class }}">
{% endif %}
{% endif %}
{% if _label_block and _floating == false and  _type != 'checkbox' and _type != 'radio' %}
  {{ _label_block|raw }}
{% endif %}
{% if _horizontal and floating == false %}
  <div class="{{ _horizontal_class }}">
{% endif %}
    <input
      type="{{ _type }}"
      class="{{ _class }}"
    {% if _id %}
      id="{{ _id }}"
    {% endif %}
    {% if _required %}
      required
    {% endif %}
    {% if _disabled %}
      disabled
    {% endif %}
    {% if _readonly %}
      readonly
    {% endif %}
    {% if _checked %}
      checked
    {% endif %}
    {% if _placeholder is not empty %}
      placeholder="{{ _placeholder }}"
    {% endif %}
    {% if _helper_text_id is not empty %}
      aria-describedby="{{ _helper_text_id }}"
    {% endif %}
    >
{% if _horizontal and floating == false %}
  </div>
{% endif %}
{% if _label_block and (_floating or _type == 'checkbox' or type == 'radio')  %}
  {{ _label_block|raw }}
{% endif %}
{% if _helper_text is not empty %}
  <div
    class="form-text"
  {%- if _helper_text_id is not empty -%}
    id="{{ _helper_text_id }}"
  {%- endif -%}>
    {{- _helper_text -}}
  </div>
{% endif %}
{% if _wrapper_class is not empty %}
</div>
{% endif %}

{% endspaceless %}
