{% apply spaceless %}

{# Parameters:
  - id (string) (default: dropdown-random(1000))
  - link (boolean) (default: false) - sets trigger to link, default is button
  - trigger (link or button)
  - content_block (block) (default: '')
  - content_link (link)
  - icon_path (string) (default: '')
  - min_height (string) (default: '300px')
    ! set min-height of mega-menu
  - items (object[])
    format: [
      {
        - link or dropdown
      }
    ]
  - back_button_label (string) (default: 'Back')
  - icon_path (string) (default: '')
#}

{% set _id = id|default('dropdown-' ~ random(1000)) %}
{% set _link = link ?? false %}
{% set _trigger = trigger|default({}) %}
{% set _content_block = content_block|default('') %}
{% set _content_link = content_link|default({}) %}
{% set _icon_path = icon_path|default('') %}
{% set _min_height = min_height|default('300px') %}
{% set _items = items|default([]) %}
{% set _back_button_label = back_button_label|default('Back') %}
{% set _icon_path = icon_path|default('') %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set _classes = ['bcl-mega-menu'] %}

{% set attributes = attributes.setAttribute('aria-labelledby', _id).addClass(_classes) %}

{% if _trigger.attributes is empty %}
  {% set _trigger = _trigger|merge({
    attributes: create_attribute()
  }) %}
{% endif %}
{% set _trigger = _trigger|merge({
  attributes: _trigger.attributes.addClass(['dropdown-toggle', 'nav-link'])
                      .setAttribute('aria-expanded', 'false')
                      .setAttribute('data-bs-toggle', 'dropdown')
                      .setAttribute('data-bs-auto-close', 'outside')
                      .setAttribute('id', _id)
}) %}
{% if _link %}
  {% set _trigger = _trigger|merge({
    attributes: _trigger.attributes.setAttribute('role', 'button') 
  }) %}
{% else %}
  {% set _trigger = _trigger|merge({
    attributes: _trigger.attributes.setAttribute('autocomplete', 'off') 
  }) %}
{% endif %}

<div {{ attributes }} style="--bcl-mm-min-height: {{ _min_height }};">
  {% include '@oe-bcl/bcl-button/button.html.twig' with _trigger|merge({
    variant: 'link'
  }) only %}
  <div class="mega-menu-container dropdown-menu" aria-labelledby="{{ _id }}">
    <div class="container position-relative">
      <div class="d-lg-none back-button-block">
        {% include '@oe-bcl/bcl-button/button.html.twig' with {
          label: _back_button_label,
          icon_position: "before",
          variant: 'link',
          icon: {
            path: _icon_path,
            name: "arrow-left",
          },
          attributes: create_attribute().addClass(['back-button'])
        } only %}
      </div>
      <div class="row h-100">
        {% if content_block is defined %}
        <div class="col-md-12 col-xl-3">
          <div class="content-block">
            {%- block content_block -%}
              {{ _content_block }}
            {%- endblock -%}
            {% if _content_link is defined %}
              {% set _content_link = _content_link|merge({
                icon: _content_link.icon|default({})|merge({
                  path: _icon_path
                }),
                  attributes: (_content_link.attributes is defined
                    ? _content_link.attributes
                    : create_attribute()
                  ).addClass('content-link')
              }) %}
              <p class="m-0">{% include '@oe-bcl/bcl-link/link.html.twig' with _content_link only %}</p>
            {% endif %}
          </div>
        </div>
        {% endif %}
        <div class="col-md-12 col-xl-6 h-100">
          <div class="row h-100 g-0">
            <div class="col-12 col-lg-4 col-xl h-100 mt-lg-3 mt-xl-0">
              <div class="navigation-items" role="tablist" aria-orientation="vertical">
                {% set _dropdown_panels = _dropdown_panels|default([]) %}

                {% for _raw in _items %}
                  {% set _render_item = _raw %}
                  {% if _raw.items is defined and _raw.items is not empty %}
                    {% set _panel_id = 'mm-panel-' ~ _id ~ '-' ~ loop.index0 %}
                    {% set _trigger_id = 'mm-trigger-' ~ _id ~ '-' ~ loop.index0 %}

                    {% set _raw_items = _raw.items %}

                    {% if _raw.see_all is defined and _raw.see_all is not empty %}
                        {% set _see_all_attr = (_raw.see_all.attributes is defined ? _raw.see_all.attributes : create_attribute()) %}
                        {% set _see_all = _raw.see_all|merge({
                          icon: { 
                            name: 'arrow-right', 
                            path: _icon_path,
                            size: 'fluid' 
                          },
                          attributes: _see_all_attr.addClass(['see-all-button'])
                        }) %}

                        {% set _raw_items = _raw_items|merge([ _see_all ]) %}
                    {% endif %}

                    {% set _dropdown_panels = _dropdown_panels|merge([{
                      id: _panel_id,
                      trigger_id: _trigger_id,
                      items: _raw_items,
                      title: _raw.trigger.label,
                    }]) %}

                    {% set _trigger_attributes = (_raw.trigger.attributes is defined ? _raw.trigger.attributes : create_attribute())
                      .addClass(['tab-toggle'])
                      .setAttribute('id', _trigger_id)
                      .setAttribute('role', 'tab')
                      .setAttribute('data-bs-toggle', 'tab')
                      .setAttribute('data-bs-target', '#' ~ _panel_id)
                      .setAttribute('aria-controls', _panel_id)
                      .setAttribute('aria-selected', 'false')
                    %}

                    {% set _render_item = _raw|merge({
                      trigger: _raw.trigger|merge({
                        icon: { 
                          name: 'chevron-right', 
                          path: _icon_path,
                          size: 'fluid' 
                        },
                        attributes: _trigger_attributes.addClass('no-chevron')
                      })
                    }) %}
                    {% set _render_item = _render_item.trigger %}
                  {% endif %}

                  {% include '@oe-bcl/bcl-link/link.html.twig' with _render_item only %}
                {% endfor %}
              </div>
            </div>
            <div class="col-12 col-lg-4 col-xl h-100 mt-lg-3 mt-xl-0">
              <div class="sub-navigation-items tab-content">
                {% for _panel in _dropdown_panels %}
                  {% if _items is not empty and _items is iterable %}
                    <div
                      class="tab-pane p-0"
                      id="{{ _panel.id }}"
                      role="tabpanel"
                      aria-labelledby="{{ _panel.trigger_id }}"
                    >
                      <p class="panel-title">{{ _panel.title }}</p>
                      <ul class="list-unstyled m-0 position-relative h-100">
                      {% for _item in _panel.items %}
                        {% if _item.attributes is empty %}
                          {% set _item = _item|merge({
                            attributes: create_attribute()
                          }) %}
                        {% endif %}
                        {% if _item.active %}
                          {% set _item_classes = _item_classes|merge(['active']) %}
                        {% endif %}
                        {% set _item = _item|merge({
                          clean_class: true,
                          attributes: _item.attributes.addClass(_item_classes)
                        }) %}
                        <li>
                        {% include '@oe-bcl/bcl-link/link.html.twig' with _item only %}
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endapply %}
